/* import fonts here */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
* {
  /* font-family: 'Press Start 2P', cursive; */
  /* font-family: 'Chakra Petch', sans-serif; */
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'Quantico', sans-serif; */
  /* font-family: 'Oxanium', cursive; */
  /* font-family: 'Silkscreen', cursive; */
  /* font-family: 'VT323', monospace; */
  /* font-family: 'Sarpanch', sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Chakra Petch', sans-serif;
  box-sizing: border-box;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/737365ba-5550-41f7-a303-56f0f4aa08f6/dfbynnn-2dc9a394-a471-4006-ac29-7cdcf4a95e79.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzczNzM2NWJhLTU1NTAtNDFmNy1hMzAzLTU2ZjBmNGFhMDhmNlwvZGZieW5ubi0yZGM5YTM5NC1hNDcxLTQwMDYtYWMyOS03Y2RjZjRhOTVlNzkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.78qsualKjgUHm9zQaDbljcgz4v_QtrAYYdrBUi3UMS0);
  background-repeat: repeat;
  background-size: 160px;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

.HNavBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* .hnav {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
} */
.navbars {
  position: sticky;
  top: 0;
}

.hNavi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(80, 149, 180);
  border: solid 1px rgb(55, 74, 109);
  margin-bottom: 15px;
  width: 99.1vw
}

.vNavi {
  z-index: 100;
  top: -125px;
  float: left;
}

.myAccLink {
  border: solid 1px rgb(110, 45, 50);
  background-color: rgb(216, 107, 116);
  height: 35px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.floors {
  list-style-type: none;
  margin-bottom: 0;
  height: 542px;
  padding: 0;
  width: 150px;
  background-color: rgb(241, 212, 147);
  border: solid 1px rgb(196, 125, 93);
  display: flex;
  /* align-items: space-between; */
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Quantico', sans-serif;
}

.vNavi > Link {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

.vertStuff {
  display: flex;
  flex-direction: row;
}

.vertContent {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.floorHeader {
  background-color: rgb(241, 212, 147);
  border: solid 1px rgb(196, 125, 93);
  display: flex;
  justify-content: center;
}

.banner {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: rgb(252, 255, 240);
  font-size: 30px;
  text-shadow:2px 2px rgb(15, 45, 80);
  margin-left: 270px
}

.cart {
  color: white;
  border: solid 1px rgb(110, 45, 50);
  background-color: rgb(216, 107, 116);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  float: right;
}

button {
  border: solid 1px rgb(110, 45, 50);
  background-color: rgb(216, 107, 116);
  color:rgb(85, 22, 51);
  font-family: 'Oxanium', cursive;
}

button:hover {
  background-color: rgb(255, 255, 255);
}

.updateButton {
  padding: 3px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 15px;
}

.smolivGardenImg {
  padding-right: 20px;
}

.teamGalactic {
  /* border: 5px rgb(27, 70, 95) solid; */
  font-family: 'Silkscreen', cursive;
  display: flex;
  height: 36vh;
  width: 25vw;
  flex-direction: column;
 align-items: center;
  background-image: url(https://t4.ftcdn.net/jpg/02/89/72/69/360_F_289726988_cF9wzIATeSAOBxCg23NqnLeaKVfXWvdy.jpg);
  color: rgb(255, 255, 255);
}

.slowpokeTails {
  float: right;
  padding-left: 20px
}

.imgs {
  padding-left: 20px;
  display: flex;
  /* justify-content: baseline;
  align-items: baseline;
  float:left; */
}

h6 {
  font-size: 7px;
}

.cartButton {
  padding: 3px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 15px;
  margin: 5px
}

.loginLinks {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

body {
  margin-left: 0;
  padding: 0;
  height: 1500px;
  width: 1400px;
}

.wrapper {
  /* display: inline-flex; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 70px;
  margin: 30px;
  background-color: rgb(241, 212, 147);
  border: solid 1px rgb(196, 125, 93);
}

.navButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78vw
}

/* .f1Wrapper {
  min-height: 200px;
} */

.myAcc {
  background-color: #78b3c7;
  border: solid 1px rgb(55, 74, 109);
}

h2 {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: rgb(204, 105, 105) 2px solid;
  text-shadow: 2px 2px rgb(252, 216, 216);
  font-family: 'Oxanium', cursive;
}

h3 {
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px rgb(255, 255, 255)
}

.welcome {
  color: black;
  size: 30px;
  background-color: rgb(243, 219, 219);
}

.itemCard {
  background-color: rgb(90, 162, 196);
  display: flex;
  gap: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  border-style:double;
  border-color: rgb(24, 76, 119);
  min-width: 180px;
  min-height: 140px;
  max-height: 300px;
  padding: 15px;
  font-size: 20px;
  box-sizing: content-box;
  overflow-wrap: break-word;
  text-shadow: .5px .5px #80e1ff;
}

.singleItemCard {
  background-color: rgb(90, 162, 196);
  display: flex;
  gap: 25px;
  margin-left: 10px;
  margin-bottom: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  border-style:double;
  border-color: rgb(24, 76, 119);
  min-width: 150px;
  max-width: 600px;
  min-height: 400px;
  float: right;
  padding: 15px
}

.itemImg {
  height: 40px;
  width: 40px;
}

.singleItemImg {
  min-width: 70px;
  min-height: 70px;
  max-width: 300px;
  max-height: 300px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleItemName {
  font-size:30px ;
  font-family: 'Quantico', sans-serif;
}

.itemName {
  font-size: 20px;
  font-family: 'Quantico', sans-serif;
}

.itemPrice, .itemStock, .itemFloor, .itemType, .viewItem {
  font-family: 'Oxanium', cursive;
  font-size:12px;
}

.singleItemPrice {
  /* display: flex;
  align-items: baseline;
  justify-content: flex-end; */
  float: right;
  font-family: 'Oxanium', cursive;
}

.singleItemStock {
  /* display: flex;
  align-items: baseline;
  justify-content: flex-end; */
  float: right;
  font-family: 'Oxanium', cursive;
}

.singleItemDesc {
  font-family: 'Oxanium', cursive;
}

.itemInput {
  display: flex;
  font-size: 15px
}

.input {
  display: flex;
  font-size: 20px;
}

.itemForm {
  display: flex;
  box-sizing: content-box;
  
}

.itemCard:hover {
  background-color: #78b3c7;
}

button:hover {
  border-color: rgb(202, 135, 135);
  background-color: rgb(255, 183, 183);
}

a:hover, a:visited:hover {
  color: rgb(255, 243, 176)
}

a:visited {
  color: inherit
}

a:active {
  color:rgb(0, 0, 19)
}


/* a:link {
  color: rgb(5, 34, 61);
} */

#Link {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#Link:hover {
  background-color: rgb(212, 181, 133);
  color: white;
  cursor: url(https://cur.cursors-4u.net/games/gam-7/gam625.cur), auto !important;
}

#Link:active {
  cursor: url(https://cur.cursors-4u.net/games/gam-7/gam608.cur), auto !important;
}

* {
  cursor: url(https://cur.cursors-4u.net/games/gam-6/gam558.cur), auto !important;
}

.Error {
  color: red;
}
